@charset "UTF-8";

/* * : 전체 선택자 */
* {
	margin: 0; /* 외부 여백 */
	padding: 0; /* 내부 여백 */
}

/* 태그선택자 : 태그 전체를 선택 */
div {
	background: skyblue;
}

/* 
	id 선택자 : id는 #으로 구분 
	1개의 태그에만 적용 가능
*/
#box1 {
	background: orange;
}

/* 쉼표(,)를 이용하여 다중 선택이 가능 */
#box2, #box3 {
	background: yellow;
}

/* 
	클래스 선택자  : 클래스는 .으로 구분
	클래스는 여러 개의 태그에 적용 가능
*/
.boxes {
	color: red;
}

/*
	선택자의 우선 순위
	태그 : 1점
	클래스 : 10점
	아이디 : 1000점
	
	합산 점수가 높은 쪽이 우선된다. (id > class > div)
	만약 같은 점수일 경우 하단에 기술한 것이 적용된다.
	
	class를 가장 많이 사용한다.
*/

#box1 {
	background: lightgray;
}

.bigFont {
	font-size:100px;
}