@charset "UTF-8";

h1 {
	display: block;
	color: blue; /* color : 글자색 */
	background: orange; /* background : 배경색 */
	font-size: 50px;
	color: blue; /*	font-size : 글자 크기 */
	text-align: right; /* text-align : 정렬(left, center, right) */
}